version: "3.8"

services:
  opensearch:
    image: opensearchproject/opensearch:2.9.0
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ports:
      - "9200:9200"
    networks:
      - simple

  dashboards:
    image: opensearchproject/opensearch-dashboards:2.9.0
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    ports:
      - "5601:5601"
    depends_on:
      - opensearch
    networks:
      - simple

  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    networks:
      - simple
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
    volumes:
      - n8n_data:/home/node/.n8n

networks:
  simple:

volumes:
  n8n_data:
